Challenge on 21st may

In [72]:
l = [3,4,5,6,7 ,[23,456,67,8,78], [345,56,87,8,98,9], (234,6657,6), {'key1':'sharan', 234:[23,45,656]}]

In [73]:
l1 = l.reverse()
l

[{'key1': 'sharan', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78],
 7,
 6,
 5,
 4,
 3]

In [40]:
#2, try to acces 234 out of this list
l[7][0]

234

In [51]:
#3, try to acces 456
ls = list(l)
ls[8][234][2]

656

In [63]:
#4, try to extract only a list collection from list l
l1 = l[0:7]
l1

[3, 4, 5, 6, 7, [23, 456, 67, 8, 78], [345, 56, 87, 8, 98, 9]]

In [58]:
#5, try to extract sharan 
l[8]['key1']

'sharan'

In [60]:
#6, try to lst all the keys in dict element available in list 
l[8].keys()

dict_keys(['key1', 234])

In [62]:
#7, try to extract all the value element from dict available in list
l[8].values()

dict_values(['sharan', [23, 45, 656]])