In [4]:
# list  
l = [1,2,3,4, 'sudh','kumar',45.56]

In [5]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [7]:
for i in l:

IndentationError: expected an indented block (Temp/ipykernel_6160/1525633252.py, line 2)

In [10]:
for i in l :
    pass

In [15]:
s = 'sharan'

for i in s :
    print(i)

s
h
a
r
a
n

In [17]:
name = 'sharnabasappa'
for n in name :
    print(n)

s
h
a
r
n
a
b
a
s
a
p
p
a

In [18]:
for s in name:
    print(s)

s
h
a
r
n
a
b
a
s
a
p
p
a

In [8]:
for i in l :
    print(i)
else :
    print('if for loop is going to complet itselft  then it will excute else')

1
2
3
4
sudh
kumar
45.56
if for loop is going to complet itselft  then it will excute else

In [23]:
for i in l:
    if i ==4:
        break
    print(i)
else:
    print('if for loop is going to complet itselft  hen it will excute else')

1
2
3

In [10]:
s = 'ramesh'
for i in s:
    if i == 's':
        break
    print(i)
else:
    print('print string', s)

r
a
m
e

In [11]:
name = 'sharnabasappa'
for i in name :
    if i == 'z' :
        break
    print(i)
else:
    print('print string:-', name)

s
h
a
r
n
a
b
a
s
a
p
p
a
print string:- sharnabasappa

In [12]:
t = (4,5,6,7,8,6,'sudh')
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [11]:
b = {4,5,6,7,7,7,7,78,9,9,9,9,9,'sudh'}
for i in b :
    print(i)

sudh
4
5
6
7
9
78

{4, 5, 6, 7, 78, 9, 'sudh'}

In [3]:
d = {'keys':'sharan', 'cont':'9538289725','job':'engineer'}
for i in d :
    print(i)

keys
cont
job

In [8]:
d["keys"]

'sharan'

In [22]:
d = {'keys':'sharan', 'cont':'9538289725','job':'engineer'}
for i in d :
    print(i, ':' , d[i] )

keys : sharan
cont : 9538289725
job : engineer

In [23]:
# range function, excluding 9 it will generate data
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [29]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [35]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [135]:

for i in range(6):
    for j in range(0 , i+1) :
        print('sudh', end = " ")
    print("\n")#  change line

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

sudh sudh sudh sudh sudh

sudh sudh sudh sudh sudh sudh

In [134]:
n= 5
for i in range(5):
    for j in range(0, i+1):
        print('  ', end= '  ')
    print('\n')

In [94]:
n=3  # rows
for i in range(n):
    for j in range(i,n-1):
        print(" " * len('sudh'), end=" ")
    for j in range(i+1):
        print('sudh', end=" ")
    for j in range(i):
        print('sudh',end=" ")
    print() # change the line

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [97]:
n=4
k=n
for i in range(n): #range(0,1,2,3)
    k=k-1
    print('  '*k, end=" ")
    for j in range(i+1):
        print('sudh ', end= '')
    print()

       sudh
     sudh sudh
   sudh sudh sudh
 sudh sudh sudh sudh

In [98]:
n = 3
for i in range(n+1):
    print(' '*(n-i) + 'sudh '*i)

  sudh
 sudh sudh
sudh sudh sudh

In [58]:
t = (3,23,45,67,2,4,5,6)
for i in range(8):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [67]:
s = 'iNeuron'
for i in range(len(s)):
    print(i , s[i])

0 i
1 N
2 e
3 u
4 r
5 o
6 n

In [84]:
a = 'ineuron'

In [94]:
for i in range(len(a)-1, -1, -1):
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 N
0 i

In [103]:
d

{'keys': 'sharan', 'cont': '9538289725', 'job': 'engineer'}

In [106]:
for i in d.items():
    print(i, type(i), type(i[1]))

('keys', 'sharan') <class 'tuple'> <class 'str'>
('cont', '9538289725') <class 'tuple'> <class 'str'>
('job', 'engineer') <class 'tuple'> <class 'str'>

In [4]:
d.items()

dict_items([('keys', 'sharan'), ('cont', '9538289725'), ('job', 'engineer')])

In [8]:
l = ['sudh', 'kumar', 12566, 'sharan99888',16566,45855]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [9]:
l1

[12566, 16566, 45855]

In [10]:
l = ['sudh', 'kumar', 12566, 'sharan99888',16566,45855]
l2= []
for i in l :
    if type(i) != int :
        print(l2.append(i))

None
None
None

In [11]:
l2

['sudh', 'kumar', 'sharan99888']

In [15]:
d = {1:34456, 'name': 'sudh', 'email_idd': 'sudh@ineuron.ai', 123 :'drfras'}

In [20]:
for i in d :
    if type(i)== int:
        print(i,  ':', d[i])
    #print(i)  it will print key

1 : 34456
123 : drfras

In [2]:
s = 'aaaabbccd'
s

'aaaabbccd'

In [10]:
for i in set(s):
    print(i , ':', s.count(i))
    int(j)

a : 4
c : 2
b : 2
d : 1

In [38]:
i = 24555454545454
for j in str(i):
    print(j, type(int(j)))

2 <class 'int'>
4 <class 'int'>
5 <class 'int'>
5 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>

In [40]:
str(i)

'24555454545454'

In [41]:
t = ('sudh', 'kumar', [1,2,3,4,5], (3,4,5,6), {'key1':'sudh','key2':"kumara"})

In [51]:
for i in t:
    if type(i)== list or type(i)== tuple :
        for j in i :
            if j==3:
                print(j)

3
3

In [71]:
t = ('sudh', 'kumar', [1,2,3,4,5], (3,4,5,6), {3:3,  'key2':"kumara"}) # extract all three
for i in t :
    if type(i)== list or type(i)== tuple :
        for j in i:
            if  j == 3:
                print(j)
if type(i)== dict:
    for k,v in i.items():
        if k ==3 or v==3:
            print(k)
            print(v)

3
3
3
3

In [74]:
d = {4:5, "key1":'sudh','key2':'kumar'}

In [75]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [78]:
for i,j in d.items():
    print(i,j)

4 5
key1 sudh
key2 kumar

In [84]:
a,b,c = 1,2,3
a

1

In [86]:
a,b,c = (30,20,10)
a

30

#Questions
1, print ; ineuron
  ineuron
  ineuron ineuron
  ineuron ineuron ineuron
  ineuron ineuron ineuron
  
2,    ineuron
   ineuron    ineuron
ineuron   ineuron   ineuron
     ineuron    ineuron
          ineuron
l = """[[1,2,3,4],(2,3,4,5,6), (3,4,5,6,7), set([23,4,45,44,5,45,4,5]),{'k1':'sudh', 'k2': 'ineuron',
                                                                       'k3':'kumar',3:6, 7:8},['ineuron', "data scine"]]"""
3, Try to extract all the list entity
4, try to extract all the dict entity
5, try extract all the tuple antity
6, try to extract all the numarical data it may be a part of dict key and values
7, try to give summation of all the numaric data
8, try to filter out all the odd values out all numeric data which is a part of a list
9, try to extract 'ineuron' out of this data
10, try to find out no of occurances of all the data
11, try to find out  number of keys in dict element
12, try to filter out all the string data
13, try to find out alphanum in data
14, try to find out multiplication of all the numeric value in individual collection inside dataset
15, try to unwrap all the collection inside collection and creat a flat list

In [100]:
l = [[1,2,3,4],(2,3,4,5,6), (3,4,5,6,7), set([23,4,45,44,5,45,4,5]),{'k1':'sudh', 'k2': 'ineuron',
                                                                       'k3':'kumar',3:6, 7:8},['ineuron', "data scine"]]

In [140]:
#01
n= 4
for i in range(n):#(0,1,2,3)
    for j in range(0, i+1):
        print(' ineuron ', end='')
    print('\n')

 ineuron

 ineuron  ineuron

 ineuron  ineuron  ineuron

 ineuron  ineuron  ineuron  ineuron

In [144]:
#02
n=4  # rows
for i in range(n):
    for j in range(i,n-1):
        print(" " * len(' ineuron '), end=" ")
    for j in range(i+1):
        print('ineuron', end=" ")
    for j in range(i):
        print('  ineuron  ',end=" ")
    print() # change the line

                              ineuron
                    ineuron ineuron   ineuron
          ineuron ineuron ineuron   ineuron     ineuron
ineuron ineuron ineuron ineuron   ineuron     ineuron     ineuron

In [145]:
l = [[1,2,3,4],(2,3,4,5,6), (3,4,5,6,7), set([23,4,45,44,5,45,4,5]),{'k1':'sudh', 'k2': 'ineuron',
                                                                       'k3':'kumar',3:6, 7:8},['ineuron', "data scine"]]

#3, Try to extract all the list entity

for i in l :
    if type(i)== list:
        for j in i :
            print(j)

1
2
3
4
ineuron
data scine

In [114]:
for i in l:
    if type(i)== dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [127]:
# 4 try to extract all the dict entity
for i in l :
    if type(i)== dict:
        for j in i :
            print(j) 
            print(i[j])

k1
sudh
k2
ineuron
k3
kumar
3
6
7
8

In [131]:
#5, try extract all the tuple antity
for i in l:
    if type(i)== tuple:
        for j in i :
            print(j)

2
3
4
5
6
3
4
5
6
7

In [146]:
#6, try to extract all the numarical data it may be a part of dict key and values