#function is crated to increse the reusability of code. it terminate the writing a code for repeted functions/ process
usinng def

In [5]:
def test(a, b):
    return a + b
     #'''function for concatination'''  # it will creat a Docker String

In [6]:
test(4,2)

6

In [7]:
test('sharan ', 'kumar')

'sharan kumar'

In [8]:
test('sharan', 'kumar')

'sharankumar'

In [6]:
test(a= 9, b =3)

12

In [8]:
test(b = 4, a= 6)

10

In [11]:
print()

In [14]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [17]:
test1(3,4,5,6)    # arguments you pass is equal to variable defines while creating function

TypeError: test1() missing 1 required positional argument: 'e'

In [9]:
def test2(*a):     #staric function, can pass aany no of parameter/ arguments, writes it in tuple
    return a

In [11]:
test2(2,3,4,5,6,'sharn')

(2, 3, 4, 5, 6, 'sharn')

In [20]:
test2(4,5,6,[1,2,3,4])

(4, 5, 6, [1, 2, 3, 4])

In [26]:
def test3(*a):   # this will write all the argument in list
    l = []
    for i in a :
        l.append(i)
    return l

In [27]:
test3(2,3,4,5,[1,3,45,4])

[2, 3, 4, 5, [1, 3, 45, 4]]

In [10]:
def test4(a,b,c,d, *m):
    return a,b,c,d, m

In [11]:
test4(1,2,3,4,5,6,7,8,9,0,4,5)

(1, 2, 3, 4, (5, 6, 7, 8, 9, 0, 4, 5))

In [15]:
def test7(*m,a,b,c,d,e):
    return m , a,b,c,d,e

In [20]:
test7(1,33,4,55,66,77,5,6,54,a=5,b=45,c=4,d=53,e =3)

((1, 33, 4, 55, 66, 77, 5, 6, 54), 5, 45, 4, 53, 3)

In [3]:
def test8(**sudh):  #n no of key value pair or need to pass dictinary kind of object, and it will give result in dictionary 
    return sudh

In [4]:
test8(a =1,b= 2, c=3,d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [5]:
def test9(*m, **s):
    return m, s

In [10]:
test9(345,66,5,4,5,6,4,3,78,9, name='sharan', father='Huleppa', dist='belagumppa',a= 7)

((345, 66, 5, 4, 5, 6, 4, 3, 78, 9),
 {'name': 'sharan', 'father': 'Huleppa', 'dist': 'belagumppa', 'a': 7})

In [20]:
def test10(*m):
    n = 0
    for i in m:
        if type(i)== int:
            n = n+i
    return n

In [22]:
test10(1,2,3,4,5)

15

In [23]:
def test10(*m):   # additition
    n = 0
    for i in m:
        if type(i)== int:
            n = n+i
    print(n)

In [24]:
test10(15,15)

30

In [25]:
def test1(*m):    #Multiplication
    n = 1
    for i in m:
        if type(i)== int:
            n = n*i
    print(n)

In [27]:
test1(2,5,4,5,6,7,8,3,5)

1008000

# ananomus and lambda function

# lambda is reserverd key word,  function means give some input and it will give an output

why lambda ananomus funtion is :  there is no any  name for that function
ex
n = lambda a, b : a + b
n(4,5)
output ; 9

In [31]:
n = lambda a, b : a + b

In [33]:
n(4,5)

9

In [39]:
m(2, 3)

8

In [30]:
def test(a,b):
    return a+b

In [31]:
test(4,5)

9

In [32]:
b = lambda *sudh  : sudh

In [40]:
b1 = lambda *a : a

In [41]:
b1(1,2,3,4,3)

(1, 2, 3, 4, 3)

In [34]:
b(34,5,6,4,3,5,66,8,65,4,433,3,2)

(34, 5, 6, 4, 3, 5, 66, 8, 65, 4, 433, 3, 2)

In [43]:
t = (3,4,5,6,7,6,5,6,74,3,4,56,7,4)
l = []
for i in t:
    l.append(i)   # with the help of append operation

In [44]:
l1 = list(t)    # converting tuple to list
l1

[3, 4, 5, 6, 7, 6, 5, 6, 74, 3, 4, 56, 7, 4]

In [38]:
l

[3, 4, 5, 6, 7, 6, 5, 6, 74, 3, 4, 56, 7, 4]

In [41]:
#coprehension operation
# try to do above ex by using coprehension operation this will reduce no of line code,   Both gove same result
t = (3,4,5,6,7,6,5,6,74,3,4,56,7,4)

[i for i in t]

[3, 4, 5, 6, 7, 6, 5, 6, 74, 3, 4, 56, 7, 4]

In [42]:
s = 'sudh'
for

In [43]:
[i for i in s]

['s', 'u', 'd', 'h']

In [45]:
l = lambda *x : [i**2 for i in x]    # finding a square of given int

In [49]:
l1 = lambda *x : [i**3 for i in x]   # finding a cube of given int

In [50]:
l1(2,3)

[8, 27]

In [51]:
l(2,3)

[4, 9]

In [48]:
# DOUBT
y = [2,3,4,5]
for i in y:
    l1 = lambda *y : i**2
    print(l1)

<function <lambda> at 0x000001F9159F2CA0>
<function <lambda> at 0x000001F9159F2D30>
<function <lambda> at 0x000001F9159F2E50>
<function <lambda> at 0x000001F9159F2F70>

In [78]:
l(2,3,4,45)

[4, 9, 16, 2025]

In [92]:
def test01(**sharan):
    count = 0
    print(sharan)
    print(sharan.values())
    for v in sharan.values():
        if type(v)== str or type(v)== list:
            count += 1
    return count

In [93]:
test01(a =7,b = 'sudh', c= 345, d= 'sudh', l = [2,3,4,45, 'sudh'])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [96]:
def test02(**kwargs):
    return list(kwargs.values())

In [97]:
test02(a =7,b = 'sudh', c= 345, d= 'sudh', l = [2,3,4,45, 'sudh'])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

#Task 05

q1,  Try to print a prime number in between 1 to 1000
q2,  Try to write a function which is equivelent to print function in python
q3,  Try to write a function which is replica of list append, extend and pop function
q4,  try to write a lambda function whic can return a concatination of all the string that we will pass
q5,  try to write a lambda function which can return a list of square of all that data between 1-100
q6,  try to write a 10 different different ex of lambda function with a choice        of your take
q7,  try to write  a function which can perform a read operation from .txt file

In [52]:
t = (1,2,3,4)
[i for i in t]

[1, 2, 3, 4]

In [56]:
def lst(t):
    for i in t:
        return t

In [58]:
lst([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
n = 8
for i in range(n):
    if i<=4:
        n= i

In [76]:
def reverseList(A):
    print( A[::-1])
	
# Driver function to test above function
A = [1, 2, 3, 4, 5, 6]
print(A)
print("Reversed list is")
reverseList(A)

[1, 2, 3, 4, 5, 6]
Reversed list is
[6, 5, 4, 3, 2, 1]

In [77]:
a = [1,2,3,4]
def reverse(a):
    return a[::-1]

In [79]:
reverse(a)

[4, 3, 2, 1]

In [90]:
# Python3 implementation

class pair:
	
	def __init__(self):
		self.min  <= 0
		self.max > 0

In [89]:
b = pair()